In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('udemy_courses.csv')

In [19]:
data.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [6]:
data.shape

(3678, 12)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
course_id              3678 non-null int64
course_title           3678 non-null object
url                    3678 non-null object
is_paid                3678 non-null bool
price                  3678 non-null int64
num_subscribers        3678 non-null int64
num_reviews            3678 non-null int64
num_lectures           3678 non-null int64
level                  3678 non-null object
content_duration       3678 non-null float64
published_timestamp    3678 non-null object
subject                3678 non-null object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

In [9]:
data.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,content_duration
count,3.678000e+03,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000
mean,6.759720e+05,66.049483,3197.150625,156.259108,40.108755,4.094517
std,3.432732e+05,61.005755,9504.117010,935.452044,50.383346,6.053840
min,8.324000e+03,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.076925e+05,20.000000,111.000000,4.000000,15.000000,1.000000
50%,6.879170e+05,45.000000,911.500000,18.000000,25.000000,2.000000
75%,9.613555e+05,95.000000,2546.000000,67.000000,45.750000,4.500000
max,1.282064e+06,200.000000,268923.000000,27445.000000,779.000000,78.500000

In [13]:
print('Types of courses : ', list(set(data['subject'])))

Types of courses :  ['Business Finance', 'Web Development', 'Graphic Design', 'Musical Instruments']

In [14]:
data.isnull().sum()

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

<h3> EDA </h3>

In [26]:
len(set(data['course_id'])) # The no of course id is less than the total length of data is mean a course is reused

3672

In [28]:
len(data['course_title'])

3678

In [35]:
print('Total Paid Cources:', len([p for p in data['is_paid'] if p == True]))

Total Paid Cources: 3368

In [37]:
print('Total Free Cources:',len(data) -3368 )

Total Free Cources: 310

In [38]:
max(data['price'])

200

In [42]:
min(data['price']) # bcz we have free cources also

0

In [44]:
print('Max subsciber on a  particular course:',max(data['num_subscribers']))

Max subsciber on a  particular course: 268923

In [ ]:
print('Most reviewed course:', data[])

In [54]:
maximum_review =max(data['num_reviews'])
for i in range(len(data)):
    if data['num_reviews'][i] == maximum_review:
        print(data['course_title'][i])

The Web Developer Bootcamp

In [51]:
max(data['num_reviews'])

27445

In [62]:
data.describe().mean()

course_id           546284.514917
price                  520.631905
num_subscribers      36108.845954
num_reviews           4037.963894
num_lectures           579.155263
content_duration       471.768545
dtype: float64

In [61]:
data.describe().mean()['num_reviews']

4037.9638940567947

In [69]:
print('No of begginers level cources:',len([i for i in data['level'] if i == 'Beginner Level']))

No of begginers level cources: 1270